# RStudio and R files
.Rbuildignore
.Rproj.user
.Rhistory
.Ruserdata
.Rdata

# Temporary files
*.tmp

# Authentication files
.httr-oauth

# MacOS
.DS_Store

# Quarto
/.quarto/

# Website generation
_site
_book
_freeze
*_files
*.html

